numpy==1.26.4
scipy>=1.10
matplotlib>=3.7
astropy>=6.0
tqdm>=4.65
torch==2.0.0+cu117
torchvision==0.15.1+cu117
torchaudio==2.0.0+cu117
mmengine>=0.7.0
mmcv>=2.0.0
mmdet>=3.0.0
opencv-python-headless<4.11
scikit-image>=0.21
pycocotools>=2.0
presto>=5.0
your>=0.6.7
fitsio>=1.2
h5py>=3.9
